<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="fragments :: common-header"/>

<body>

<header th:replace="fragments :: navbar"/>

<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" th:href="@{/home}">Home</a>
        <span class="breadcrumb-item active">FAQ</span>
    </div>
</div>

<section class="static about-sec">
    <div class="container">
        <h1>FAQ</h1>
        <h3>What students get a special discount?</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
            fiveLorem
            Ipsum is simply dummy text of the printing and typesetting industry. Lorem </p>
        <h3>Are you able to sell the books in wholesale?</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
            fiveLorem
            Ipsum is simply dummy text of the printing and typesetting industry. Lorem </p>
    </div>
</section>

<div th:replace="fragments :: footer"/>

<div th:replace="fragments :: body-bottom-scripts"/>
</body>

</html>